{% extends "header.html" %} {% block app_content %}

<br>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1><i class="fa fa-target"></i> Add new goal</h1>
  </div>
</div>
<br>

  <link rel="stylesheet" href="/static/css/form-control-borderless.css">
         <div class="row justify-content-left">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body">
          </i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for usernames">
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>

   <br>
      <div class="table-responsive">
            <table id="dtBasicExample" summary="User table" class="table table-striped table-bordered table-sm table-hover text-small"  cellspacing="0" style="width: auto;">
           <thead>
              <tr>
              <th><i class="fa fa-fingerprint"></i></th>
              <th><i class="fa fa-id-card-alt"></i></th>
        		  <th><i class="fa fa-user-plus"></i></th>
            </tr>
          </thead>
		  <tbody id="searchableTable">
			{% for student in students %}
            <tr>
              <td>{{student.username}}</td>
              <td>{{student.student_number}}</td>
               <td>
               <a href="{{url_for('goals.add_goal', student_id = student.id)}}" <button class="btn btn-outline-success"><i class="fa fa-plus-circle"></i> Add new goal</button>
              </a>
               </td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->

  

</div>
{% endblock %}



