{% extends "header.html" %} {% block app_content %}
{% from 'bootstrap/form.html' import render_form %} 

<script>
  $(function () {$('[data-toggle="popover"]').popover()})
</script>

<br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1><i class="fa fa-bullseye"></i> {{student.username}}'s goals</h1>
  </div>
</div>
<hr>
<a href="{{url_for('goals.add_goal', student_id = student.id)}}" <button class="btn btn-lg btn-outline-success"><i class="fa fa-plus-circle"></i> Add new goal</button></a>
<br><br>
<!-- Milestones widget -->
<div class="row text-center">
  <div class="col">
    <div class="counter">
      <i class="fa fa-bullseye fa-2x"></i>
      <h2 class="timer count-title count-number">Your milestones</h2>
      <br>
      <div class="container">
        <div class="progress" style="height:40px">
          {% for goal in goals %}
          <div class="progress-bar mypopover {{'bg-success' if goal.completed else 'bg-dark'}}" role="progressbar" 
          data-toggle="popover" data-trigger="hover" 
          title="{{goal.date_due.strftime('%d %b %Y')}}" 
          data-content="{{goal.description}}" 
          style="width:{{100 / goals|length }}%">
            {{goal.title}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<br>


</div>

{% endblock %}



