{% extends "header.html" %} {% block app_content %}
{% from 'bootstrap/form.html' import render_form %} 
<br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1><i class="fa fa-bullseye"></i> Goals</h1>
  </div>
</div>
<hr>

<a href="{{url_for('goals.add_goal_find_student')}}" <button class="btn btn-lg btn-outline-success"><i class="fa fa-plus-circle"></i> Add new goal</button></a>

<!-- Milestones widget -->
<div class="row text-center">
  <div class="col">
    <div class="counter">
      <i class="fa fa-bullseye fa-2x"></i>
      <h2 class="timer count-title count-number">Your milestones</h2>
      <br>
      <div class="container">
        <div class="progress" style="height:30px">
          <div class="progress-bar bg-success" role="progressbar" style="width:40%">
            Assignments
          </div>
          <div class="progress-bar bg-primary" role="progressbar" style="width:10%">
            UCAS deadline
          </div>
          <div class="progress-bar bg-dark" role="progressbar" style="width:20%">
            Internship
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<link rel="stylesheet" href="/static/css/form-control-borderless.css">
         <div class="row justify-content-left">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body">
          </i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for usernames">
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>

   <br>
      <div class="table-responsive">
            <table id="dtBasicExample" summary="User table" class="table table-striped table-bordered table-sm table-hover text-small"  cellspacing="0" style="width: auto;">
           <thead>
              <tr>
              <th><i class="fa fa-fingerprint"></i></th>
              <th><i class="fa fa-id-card-alt"></i></th>
        		  <th><i class="fa fa-user-plus"></i></th>
            </tr>
          </thead>
		  <tbody id="searchableTable">
			{% for student in students %}
            <tr>
              <td>{{student.username}}</td>
              <td>{{student.student_number}}</td>
               <td>
               <a href="{{url_for('goals.view_student_goals', student_id = student.id)}}" <button class="btn btn-outline-success"><i class="fa fa-plus-circle"></i> View goals</button>
              </a>
               </td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->

</div>

{% endblock %}



