{% extends "header.html" %} {% block app_content %}
{% from 'bootstrap/form.html' import render_form %}

<link rel="stylesheet" href="/static/css/progress-circle.css">

<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-lg btn-outline-secondary float-right" data-toggle="modal"
        data-target="#helpModal">
        <i class="fa fa-info"></i>
      </button>
      <h1><i class="fa fa-bullseye"></i> Goals</h1>
    </div>
  </div>
  <hr>

  <!-- Help modal -->
  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="display-5"><i class="fa fa-bullseye"></i> Goals</h1>
          <p class="lead">In this section, you can get an overview of your students' progress towards their application goals
          </p>
          <hr class="my-4">
          <p>You can set individual goals for each student by clicking "Add new goal", or you can create goal templates to quickly apply the same set of goals to many students.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <a href="{{url_for('goals.add_goal_find_student')}}" <button class="btn btn-lg mr-3 btn-outline-success"><i
      class="fa fa-plus-circle"></i> Add new goal</button></a>

  <a href="{{url_for('goals.manage_goal_templates')}}" <button class="btn btn-lg btn-outline-primary"><i
      class="fa fa-tasks"></i> Manage default goal templates</button></a>
  <br><br>

  <link rel="stylesheet" href="/static/css/form-control-borderless.css">
  <div class="row justify-content-left">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body">
            </i>
          </div>
          <!--end of col-->
          <div class="col">
            <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search"
              placeholder="Search for student usernames or numbers">
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
    <!--end of col-->
  </div>

  <br>

  <div class="row text-center">
    {% for student in student_goals_info_array %}
    <div class="student-goal-card col-12 col-md-4 mb-3" data-student-goals-data="{{student.student_goals_data}}"
      data-username="{{student.username}}" data-student-number="{{student.student_number}}">
      {% if student.student_goals_data == False %}
      <a class="text-dark" href="{{ url_for('goals.view_student_goals', student_id = student.id) }}">
        <div class="counter">
          <h3>{{student.username}} <i class="fa fa-chevron-right"></i></h3>
          <a href="{{url_for('goals.add_goal', student_id = student.id)}}" <button
            class="btn mt-5 mb-5 btn-lg btn-outline-primary"><i class="fa fa-plus-circle"></i> Add new goal</button></a>
        </div>
      </a>
      {% else %}
      <a class="text-dark" href="{{ url_for('goals.view_student_goals', student_id = student.id) }}">
        <div class="counter">
          <h3>{{student.username}} <i class="fa fa-chevron-right"></i></h3>
          <div class="progress-circle progress-{{student.student_goals_data.completion_percentage}}"
            style="background-image: none; color: #ffffff">
            <span>{{student.student_goals_data.completion_percentage}}</span></div>
          <p class="card-text"><small class="text-muted">{{student.student_goals_data.items_remaining}}
              {{'item' if student.student_goals_data.items_remaining == 1 else 'items'}} remaining</small></p>
      </a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

<script>
  $(document).ready(function () {
    // On load, show only the student cards with some progress/some goals
    $('.student-goal-card').filter('[data-student-goals-data="False"]').hide();

    $("#myInput").on("keyup", function () {
      // If the search field is empty, only show student cards with some goals
      if (!$('#myInput').val()) {
        $('.student-goal-card').show(); // Show all inputs
        $('.student-goal-card').filter('[data-student-goals-data="False"]').hide(); // Hide the ones we don't want
      } else {
        // If thre are values, filter them out
        var value = $(this).val().toLowerCase();
        $(".student-goal-card").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      }
    });
  });
</script>

{% endblock %}